div {
    border: solid 1px black;
    padding: 10px;
}

#first,
#second {
    height: 50px;    
    margin: 20px;
}

#content {
    height: 300px;
    position: relative;
}

#first {
    background-color: lightcoral;
    width: 50%;
    overflow: auto;
}

#second {
    background-color: brown;
    left: 50px;
    top: 50px;
    width:50px;
    position: absolute;
    z-index: -1;
}

#fixed {
    position: fixed;
    right: 10px;
    top: 50px;
    background-color: limegreen;
    transition: width 2s,opacity 2s;
    width: 100px;
    opacity: 0.3;
}
#fixed:hover{
    width:300px;
    opacity: 1.0;
}